<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="100%" border="0">
        <tr>
            <td width="50%" bgcolor="#3b5998" align="left"><img src="./Facebook-Logo.jpg" alt="Logo of facebook"
                    width="200px"></td>
            <td width="50%" bgcolor="#3b5998" align="right">
                <label for="username"></label>
                <input type="text">
                <label for="password"></label>
                <input type="password">
                <button>login</button>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center">
                    <tr>
                        <td>
                            <h2>
                                <font face="verdana">Connect with your friends and the world around you on facebook
                                </font>
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font face="arial black"> photos and updates from friends in News feed.
                        </td>
                        </font>
                    </tr>
                    <tr>
                        <td>
                            <font face="arial black">whats new in your life
                        </td>
                        </font>
                    </tr>
                    <tr>
                        <td>
                            <font face="arial black">find more of what youre looking for with Graph search
                        </td>
                        </font>
                    </tr>
                </table>
            </td>
            <td width="50%" align="center">
                <table width="100%">
                    <tr>
                        <td colspan="2">
                            <h1>
                                <center>Sign Up</center>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <label for="First Name"></label>
                            <input style="width: 100%;" type="text" placeholder="First Name">
                        </td>
                        <td><label for="Last name"></label>
                            <input style="width: 100%;" type="text" placeholder="Last Name">
                        </td>
                    <tr>
                        <td colspan="2">
                            <label for="Mobile number"></label>
                            <input style="width: 100%;" type="text" placeholder="Mobile Number">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="Email"></label>
                            <input style="width: 100%;" type="text" placeholder="Email">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="Passwoed"></label>
                            <input style="width: 100%;" type="password" placeholder="Password">
                        </td>
                    </tr>
        </tr>
    </table>
    </td>
    </tr>
    </table>
</body>
</html>