{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Updting contact</h1>
    <center><img src="{% static 'images/baabtraimage.png' %}" alt="image of baabtra"></center>
    <center><a href="{% url 'myapp:homepageofbaabtra' %}">Homepage</a>
    <a href="{% url 'myapp:aboutbaabtra' %}">About</a>
    <a href="{% url 'myapp:contactbaabtra' %}">Contact us</a></center>
            <hr>
</div>
    <center><h3 style="font-family: arial;">Contact us</h3>
        <center><h3 style="font-family: arial;">Contact us</h3>
            <center><h3 style="font-family: arial;">Contact us</h3>
                <center><h3 style="font-family: arial;">Contact us</h3>
                    <center><h3 style="font-family: arial;">Contact us</h3>
                        <center><h3 style="font-family: arial;">Contact us</h3>
        

    <hr>
+91 859 205 8444 <br>
info@baabtra.com <br>
CAFIT Square, 5th Floor, HiLite Business Park, Thondayad Bye-Pass, Hilite City, Calicut, Kerala, India.</center>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima totam ad quisquam alias odit repudiandae eos explicabo, debitis necessitatibus, tempora dicta ipsa recusandae officiis quidem quo obcaecati placeat aliquid quaerat?</p>
</body>
</html>
